<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<!--  <head>
   <title>User Info</title>
</head> -->
<body>
<!-- Include _menu.html -->
<nav th:replace="layout :: header"></nav>
<div class="container">
    <form style="min-width: 300px;" action="#" th:action="@{/save_thaydoi}" th:object="${giaovien}" method="post" novalidate="novalidate" enctype="multipart/form-data">
        <h3 class="text-center">Thông tin người dùng</h3>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-4" style="float:left">
                <input type="hidden" th:field="*{giaovien.magv}" />
                <div class="form-group">
                    <label>Họ tên:</label>
                    <input class="form-control" type="text" placeholder="Họ tên"
                           th:field="*{giaovien.hoten}" th:errorclass="field-error" />
                    <!-- <em th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></em>-->
                </div>

                <div class="form-group">
                    <label>Địa chỉ:</label>
                    <input class="form-control" type="text" placeholder="Địa chỉ"
                           th:field="*{giaovien.diachi}" th:errorclass="field-error" />
                    <!-- <em th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></em>-->
                </div>

                <div class="form-group">
                    <label>Ngày sinh:</label>
                    <input class="form-control" type="text" placeholder="Ngày sinh" th:field="${giaovien.date}"/>
                </div>

                <div class="form-group">
                    <label>Môn phụ trách:</label>
                    <input class="form-control" type="text" placeholder="Môn phụ trách" th:field="${giaovien.giaovien.monhoc.tenmh}" disabled/>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-primary">
                        <i class="fa fa-save"></i> Save
                    </button>
                </div>
            </div>
            <div class="col-sm-3" style="float:left">
                <div class="card" style="width=400px">
                    <th:block th:if="${giaovien.giaovien.image_path == null}">
                        <img class="card-img-top" th:src="@{/uploads/avatar.jpg}" alt="avatar" width="100" height="200">
                    </th:block>
                    <th:block th:unless="${giaovien.giaovien.image_path == null}">
                        <img class="card-img-top" th:src="@{'/uploads/' + ${giaovien.giaovien.image_path}}" alt="avatar" width="100" height="200">
                    </th:block>
                </div>
                <div class="form-group mt-3">
                    <label for="file">Select a image file</label>
                    <input type="file" name="file" class="form-control-file" id="file">
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </form>
</div>
<br/><br/>
<footer th:replace="layout :: footer"></footer>
</body>

</html>