<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
    <nav th:replace="layout :: header"></nav>

    <div class="container" id="main-content">
		<div class="row">
			<div class="col-6 no-padding">
				<form class="form-inline" action="#" th:action="@{/giaovien/{id}/detail(id=${wrapper.id_gv})}" method="get">
					<button class="btn btn-primary" type="submit">
						<i class="fa fa-arrow-left" aria-hidden="true"></i> Back
					</button>
				</form>
			</div>

			<div class="col-6 no-padding">

			</div>
		</div>

        <div class="row d-flex justify-content-center">
            <form style="min-width: 300px;" action="#" th:action="@{/giaovien/detail/save_phancong}" th:object="${wrapper}" method="post" novalidate="novalidate">
    			<h5 class="text-center">Danh sách các lớp</h5>
				<h5 class="text-center" th:text="${wrapper.id_gv}"></h5>
				<input type="hidden" th:field="${wrapper.id_gv}" value="${wrapper.id_gv}"/>
				<table class="table table-bordered table-hover table-striped">
         			<thead>
            			<tr>
               				<th>Select</th>
               				<th>Tên lớp</th>
           				 </tr>
        			 </thead>
        
         			<tbody>
            			<tr th:each="lop, stat : ${wrapper.list_lop}">
               				<td>           				
          						<input type="checkbox" th:field="*{list_lop[__${stat.index}__].selected}" />
          						<input type="hidden" th:field="*{list_lop[__${stat.index}__].lop.malop}"/>
          						<input type="hidden" th:field="*{list_lop[__${stat.index}__].lop.tenlop}"/>
               				</td>
               				<td th:text="${lop.lop.getTenlop()}"></td>
            			</tr>
         			</tbody>
      			</table>
				
   				 <div class="form-group">
        			<button type="submit" class="btn btn-block btn-primary">
           			 <i class="fa fa-save"></i> Save
        			</button>
   				 </div>
			</form>
        </div>
    </div><!-- /.container -->

    <footer th:replace="layout :: footer"></footer>
</body>
</html>