<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<nav th:replace="layout :: header"></nav>

<div class="container" id="main-content">
    <div class="row">
        <div class="col-1 no-padding">
            <a href="#" th:href="@{/loaidiem}"class="btn btn-success float-right">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
            </a>
        </div>
        <div class="col-6 no-padding">

        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <form style="min-width: 300px;" action="#" th:action="@{/loaidiem/save}" th:object="${loaidiem}" method="post" novalidate="novalidate">
            <h5 class="text-center">Thêm loại điểm</h5>

            <input type="hidden" th:field="*{maloai}" />
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Tên loại"
                       th:field="*{tenloai}" th:errorclass="field-error" />
                <input class="form-control" type="text" placeholder="Hê số"
                       th:field="*{heso}" th:errorclass="field-error" />
                <!-- <em th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></em>-->
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary">
                    <i class="fa fa-save"></i> Save
                </button>
            </div>
        </form>
    </div>
</div><!-- /.container -->

<footer th:replace="layout :: footer"></footer>
</body>
</html>