<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<nav th:replace="layout :: header"></nav>

<div class="container" id="main-content">
    <div class="row">
        <div class="col-6 no-padding">
            <form class="form-inline" action="#" th:action="@{/diem}" method="get">
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
                </button>
            </form>
        </div>

        <div class="col-6 no-padding">
            <form class="form-inline" action="#" th:action="@{/diem/{id}/nhapdiem_ds(id=${lop.malop})}" method="get">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-file-import"></i> Nhập theo danh sách
                </button>
            </form>
        </div>
    </div>

    <div class="row mt-4">
        <th:block th:if="${#lists.isEmpty(lop.hocsinhs)}">
            <h5>Không có học sinh</h5>
        </th:block>

        <th:block th:unless="${#lists.isEmpty(lop.hocsinhs)}">
            <div class="table-responsive">
                <h5>Danh sách học sinh</h5>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên</th>
                        <th>Địa chỉ</th>
                        <th>Ngày sinh</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="student,iterStat : ${lop.hocsinhs}">
                        <th scope="row" th:text="${iterStat.count}"></th>
                        <td th:text="${student.ten}"></td>
                        <td th:text="${student.diachi}"></td>
                        <td th:text="${#dates.format(student.ngaysinh, 'dd-MMM-yyyy')}"></td>
                        <td>
                            <a href="#" th:href="@{/diem/detail/{id}/edit(id=${student.masv})}" class="mr-sm-2 text-primary">Sửa</a>&nbsp&nbsp
                            <a href="#" th:href="@{/diem/detail/{id}/diem_hocsinh(id=${student.masv})}" class="text-danger">Chi Tiết</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </th:block>
    </div>
</div><!-- /.container -->

<footer th:replace="layout :: footer"></footer>

</body>
</html>